.root {
	-fx-background-color: #F9DAD0 ;
}

#startButton {
	-fx-background-color: #ffb6c1; /* Pastel pink background */
    -fx-background-radius: 20; /* Rounded corners */
    -fx-font-family: "Verdana";
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

#credits {
    -fx-font-size: 14pt;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #333; /* Adjust the text color to match your application */
}

.table-view {
    -fx-font-size: 8pt; /* Set the font size for the entire TableView */
    -fx-background-color: #C5DCA0; /* Pastel green color */
}

.table-view .column-header {
    -fx-background-color: #A5C474; /* Darker green color for the headers */
}
